* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Quicksand';
}

html {
  scroll-padding: 50px 50px;
}

body {
  height: 100%;
  background-image: url(./imgs/pexels-francesco-ungaro-1525041.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

header {
  top: 0px;
  position: sticky;
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: space-between;
  transition: all 500ms;
  z-index: 10;
}

.left, .right {
  width: auto;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr{
  height: 2px;
}

/* HEADER - LEFT */

.left-icon {
  width: 60px;
  height: auto;
  margin: 10px;
}

/* HEADER - CENTER */
.center {
  display: flex;
  align-items: center;
  margin: 0px 25px 0 150px;
}
.center ul {
  display: flex;
  gap: 100px;
}
.center ul li {
  display: inline;
}

.link{  
  color: white;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  transition: all 500ms;
}

.link:hover {
  color: rgb(179, 179, 179);
  transform: translateY(-5px);
}

/* HEADER - RIGHT */

.btn-color-site {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms;
  background-image: url(../assets/imgs/nightday.png);
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
}
.btn-fontSize{
  margin-right: 1.6rem;
  width: 80px;
}
[type="range"]{
  transform: scale(1);
  appearance: none;
  display: block;
  background-color: #ffffff;
  height: 2px;
  border-radius: 10px;
}
[type="range"]::-webkit-slider-thumb{
  appearance: none;
  display: block;
  width: 17px;
  height: 17px;
  background-color: black;
  border-radius: 50%;
}

.sizeIcon{
  height: 33px;
  width: 33px;
  margin-right: 10px;
}

.btnColorSiteBlack {
  filter: invert(100%);
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms;
  background-image: url(../assets/imgs/nightday.png);
  background-size: 30px;
  background-position: right;
  background-repeat: no-repeat;
}

.btn-color-site-icon {
  width: 45px;
}

.btn-color-site-icon:hover {
  filter: invert(100%);
}
  /* Main para alinhar conteúdo ao topo */
  main {
    flex:1;
    padding: 20px 10px;
  }
  
  /* Título da página */
  .title-pag2-home h1 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    transition: all 500ms;
  }
  
  .title-pag2-home h1:hover {
    color: rgb(143, 145, 143);
    transform: translateY(-5px);
    cursor: default;
  }
  
  /* Estilo da seção equipe */
  /* Seção da equipe */
.cards {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(63, 63, 63, 0.9); /* Fundo escuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 500ms;
  }
  
  /* Estilo de cada integrante */
  .pessoa {
    margin-bottom: 30px;
    text-align: center; /* Nome centralizado */
    /* border-bottom: 2px solid rgb(160, 156, 156); */
    padding-bottom: 20px;
  }
  
  .pessoa h2 {
    font-size: 1.8em;
    filter: drop-shadow(0px 3px 2px black);
    margin-bottom: 15px;
    text-align: center;
    color: greenyellow;
    z-index: -1;
    cursor: default;
  }
  
  /* Estrutura de conteúdo: fotos à esquerda, texto à direita */
  .conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
  }
  
  /* Fotos alinhadas verticalmente */
  .fotos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .fotos img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .Espacamento{
    margin: 25px 0 0 0;
  }
  /* Descrição ao lado das fotos */
  .descricao {
    color: white;
    font-size: 1.4em;
    text-wrap: wrap;
    height: 100%;
    text-align: center;
    /* flex: 1; O texto ocupa o espaço restante */
  }
  
  /* Última pessoa sem margem extra */
  /* .pessoa:last-child {
    margin-bottom: 0;
  } */
  
  
  /* Rodapé */
  
  footer {
    height: 100px;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: all 500ms;
  }
  .distancy{
    margin: 80px;
  }
